img.prev {
        border: 8px solid #ccc;
        width: 300px;
        height: 200px;
    }
    
#remaining {
	font: normal 18px courier 
}

input[type=file]{

color:transparent;

}

body {
	font: verdana;
}